<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="InputFilePlayer1" value="C:\BattleShip\cmake-build-debug\FirstPlayer.in"/>
    <add key="InputFilePlayer2" value="C:\BattleShip\cmake-build-debug\SecondPlayer.in"/>
  </appSettings>
</configuration>